include src/scripts *
include doc/*
exclude src/comatsci/calculators/dftbcalc.*
exclude src/scripts/fitrep_mopso.*
exclude src/comatsci/dimer.py
exclude src/comatsci/growString.py
global-exclude *.ui *.ui.h make*.sh *.bak
prune doc-src
prune api-doc
prune test
